<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">Home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Kyle P. Johnson<br />
                NLP, Python, DevOps<br />
                <a href="mailto:kyle@kyle-p-johnson.com">kyle@kyle-p-johnson.com</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/kylepjohnson">github.com/kylepjohnson</a><br />
                <a href="https://twitter.com/kylepj0hns0n">twitter.com/kylepj0hns0n</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
